<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="/css/home_page.css">
</head>
<body>
	<div id = "main_search">

		<div id="search">
					<input type="text" name="song" id = "song_name">
		</div>			
				<div id = "rcmd">
		</div>

				

	</div>

	<div id = "similar_songs">
		
	</div>
</body>
<script type="text/javascript" src="/js/home_script.js"></script>
</html>