<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
    <link rel="stylesheet" href="/css/similar_songs_style.css">
</head>
<body>
     <div id = "similar_songs">
	</div>

    <div id="player">
        <div id="query">
            <img src="/css/search.png" alt="">
        </div>

        <div id="embed_player">
            <img id = "pp_btn" src="/css/pause.png" alt="">
        </div>
        <iframe id="frame_i" width="560" height="315" src="https://www.youtube.com/embed/tbnLqRW9Ef0?enablejsapi=1&autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen style="display:none">
        </iframe>
    </div>
</body>
<script src="/js/similar_songs_script.js">
</script>
</html>